
  <div class="d-flex pt-5">
    <%= form_with(model: payment, url: payments_url(category_id: category_id)) do |form| %>
      <% if payment.errors.any? %>
        <div class="">
          <h2><%= pluralize(payment.errors.count, "error") %>  this payment not allowed from being saved:</h2>

          <ul>
            <% payment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      
      <form>
        <div class="form-outline mb-4 p-2 mt-2">
          <%= form.text_field :name, class: 'f-text', placeholder: 'Enter payment name', class:"form-control" %>
        </div>    
        <hr />
        <div class="form-outline mb-4">
          <%= form.number_field :amount, class: 'f-text', placeholder: 'Enter Amount', class:"form-control" %>
        </div>
        </br>
        <div class="btn btn-primary mt-2">
          <%= form.submit 'Add', class: 'btn btn-primary' %>
        </div>
      </form>
    <% end %>
  </div>
