<%= render "payments/header" %>

<div class="d-flex flex-column justify-content-center align-items-center m-0 pt-0">
  <div class="w-100">
    <div class="d-flex justify-content-between p-2 shadow p-0 mb-2">
      <p>Total Amount:</p>
      <p>$<%= @category.payments.sum(:amount) %></p>
    </div>
  </div>

  <% @payments.each do |payment| %>
    <div class="d-flex flex-column justify-content-between p-2 mb-2 shadow p-3 mb-3 w-100">
      <div class="d-flex justify-content-between">
        <div>
          <p class=""><%= payment.name %></p>
          <p class="card-text"><small class="text-muted"><%= @category.created_at.strftime("%d/%m/%y") %></small></p>
        </div>
        <div>
          <p class="">$<%= payment.amount %></p>
        </div>
      </div>
    </div> 
  <% end %>


  <div class="fixed-bottom p-5">
    <%= link_to "Add New Transaction", new_payment_path(category_id: @category.id), class: "btn btn-success w-100" %>
  </div> 

</div>
